{% extends 'base.html' %}

{% block body %}
    {% load static %}

    <div class="container d-flex flex-column align-items-center my-4">
        <h3>These are the housing options that {{ request.user }} has favorited!</h3>
    </div>

    

        

        {% if new|length > 0 %}
            <div class="d-inline-flex flex-wrap justify-content-center">
                {% for h in new %}
                    <div class="card m-2" style="width: 300px; background: #f0f2f7;">
                        <a href="{% url 'oauth_app:housing_detail' h.id %}">
                        <img class="card-img-top" style="height: 200px;" src="{{ h.imgadd }}">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div class="d-flex flex-row justify-content-between">

                                <h5 class="card-title">{{ h.title }}</h5>
                        </a>
                                <h5 class="card-text text-success">${{ h.rent }}</h5>
                            </div>
                            <p class="card-text text-center">{{ h.location }}</p>
                            <div class="d-flex flex-row justify-content-around">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-bed mr-1" style="font-size:24px"></i>
                                    <p class="card-text">{{ h.bed }}</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-bath mr-1" style="font-size:20px"></i>
                                    <p class="card-text">{{ h.bath }}</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 25px;" class="h-5 w-5"
                                         viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93
                                                17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119
                                                16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                                    </svg>
                                    <p class="card-text">{{ h.footage }} sq ft</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div style="background: #f0f2f7;" class="alert alert-secondary text-center" role="alert">
                Looks like you haven't favorited any housing options :(
            </div>
        {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock body %}